*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    background: #1B4332;
  }
  
  .navbar{
    background: #081c15;
  }

  .fa-user-circle{
    font-size: 30px;
}


.about{ /* Position About */
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    
    
}

.about .contentBx{ /* Partie Gauche About */
    
    padding: 100px;
    width: 50%;
    height: 100vh;
}

.heading{ /* Titre Partie Gauche About */
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.headingText{ /* Texte Partie Gauche About */
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBx{ /* Image Partie Droite About */
    background: url(/img/Sans\ titre\(9\).png);
    width: 50%;
    background-size: cover;
    background-position: center;
}


/* ---- CONFIGURE LE FLEX POUR LA CARD---- */

.containera{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    
  }
  
  /* ---- CONFIGURE LE CONTOUR DE LA CARD---- */
  
  .containera .carda{
    position: relative;
    width: 300px;
    height: 500px;
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    
  }

  /* .containera .carda .contenta:hover{
    background: url(/img/tracker.gif);
    color: green;
  } 
   */
  
  /* ---- CONFIGURE L'INTERIEUR DE LA CARD---- */
  
  .containera .carda .contenta{
    
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    transition: 0.5s;
  }
  
  
  /* ---- CONFIGURE L'ANIMATION DE LA CARD AVEC LA MONTEE ET L'OPACITE---- */
  
  .containera .carda:hover .contenta{
    opacity: 1;
    transform: translateY(-15px);
    
  
  }
  
  /* ---- CONFIGURE LES IMAGES ET LA BORDURE---- */
  
  .containera .carda .contenta .imgArt{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
  
  }
  
  .containera .carda .contenta .imgArt img{
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* ---- CONFIGURE LE NOM DE L'ARTISTE---- */
  
  .containera .carda .contenta .contentaArt h3{
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
  }

  .containera .carda .contenta .contentaArt h3 span{
    font-size: 20px;
  }
  
  /* ---- CONFIGURE LE STYLE DE MUSIQUE---- */
  
  .containera .carda .contenta .contentaArt{
      margin-top: 10px;
      

  }

  .containera .carda .contenta .contentaArt button{
      margin: 15px;
      padding: 5px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: white;
      border: 4px solid black;
  }
  

  .button-robot-parrain{
    display: flex;
    justify-content: space-around;
  }
  .video-presentation-robot {
    width: 100%;
    background: #162c3b;
    display: flex;
    justify-content: center;
  }
  .video-presentation-robot video{
      width: 40%;
      border-radius: 10px;
      
  }

.banner-video{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-video .content-video{
  max-width: 550px;

}

.banner-video .content-video img{
  max-width: 100%;
  margin-bottom: 15px;
}

.banner-video .content-video h2{

  color: #fff;
  font-weight: 500;
  font-size: 2em;
}

.banner-video .content-video p {
  font-size: 1.2em;
  color: #fff;
  font-weight: 300;
  margin: 15px 0 25px;
}

.banner-video .content-video a{
  position: relative;
  text-transform: uppercase;
  background: #fff;
  color: #111;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
}

.trailer-video{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10000;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.trailer-video video{
  position: relative;
  max-width: 900px;
  outline: none;
}

.trailer-video.active{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}





.trailer-image{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10000;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.trailer-image img{
  position: relative;
  max-width: 900px;
  outline: none;
}

.trailer-image.active{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.close{
  position: absolute;
  top: 50px;
  right: 20px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}


  


@media (max-width: 991px){

    .about{
        flex-direction: column;
    }

    .about .contentBx, .about .imgBx{
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center; 
    }

    
    .video-presentation-robot video{
        width: 85%;
        border-radius: 10px;
        
    }
    
    .trailer-video video{
    
      max-width: 90%;
  
    }

    .trailer-image img{
    
      max-width: 80%;
  
    }



}