*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    min-height: 100vh;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/img/forestSim.png);
    background-size: cover;
    cursor: url(/img/franceinter.png), pointer;
}

.treeplant{
    display: flex;
    justify-content: center;
}

.treeplant p{
    border: 6px solid white;
    margin: 10px;
    padding: 15px;
    color: white;
    font-size: 30px;
}

.treeargent{
    display: flex;
    align-items: flex-end;
}


.treeargent p{
    border: 6px solid white;
    margin: 10px;
    padding: 15px;
    color: white;
    font-size: 30px;
}

span{
    position: absolute;
    width: 250px;
    height: 250px;
    background: url(/img/testree.png);
    background-size: cover;
    pointer-events: none;
}